Te damos la bienvenida al curso de Fundamentos de Data Science. Este notebook es para verificar que hayas podido instalar correctamente el entorno Anaconda con sus librerías, en especial Pandas que es la primera que vamos a estar utilizando.<br><br>
Para completar la actividad solo tenés que completar con tu nombre, apellido y tu edad y ejecutar todas las celdas y luego enviar el print de pantalla de que la ejecución fue correcta.<br><br>
Exitos!!!

In [1]:
nombre = "Ezequiel"
apellido = "Gatica"
edad =  21

In [2]:
print(f"Bienvenidos a Fundamentos de Data Science, soy {nombre} {apellido}, y tengo {edad} años")

Bienvenidos a Fundamentos de Data Science, soy Ezequiel Gatica, y tengo 21 años

In [3]:
import pandas as pd
pd.DataFrame({'Nombre':[nombre],'Apellido':[apellido],'Edad':[edad] })

     Nombre Apellido  Edad
0  Ezequiel   Gatica    21